<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="style.css"/>
        <script src="script.js"></script>
        <title>Info Sports</title>
    </head>
    <body>
        <header>
            <h1>Info Sports</h1>
            <h2>La mejor recopilacion de los siguientes deportes</h2>
        </header>
        <hr>
        <div id="deportes">
            <button class="btn btn-light" id="football" onclick="getCountries('football')" data-color='#AC19A7'>Futbol</button>
            <button class="btn btn-light" id="basketball" onclick="getCountries('basketball')" data-color='#1685F3'>Basquetbol</button>
            <button class="btn btn-light" id="hockey" onclick="getCountries('hockey')" data-color='#3BFF24'>Hockey</button>
            <button class="btn btn-light" id="volleyball" onclick="getCountries('volleyball')" data-color='#71F8FC'>Voleybol</button>
            <button class="btn btn-light" id="handball" onclick="getCountries('handball')" data-color='#71F8FC'>BalonMano</button>
            <button class="btn btn-light" id="rugby" onclick="getCountries('rugby')" data-color='#71F8FC'>Rugby</button>
            <button class="btn btn-light" id="favoritos" onclick="getCountries('favoritos')" data-color='#71F8FC'>Favoritos</button>
        </div>
        <hr>
        <h2>Selecciones</h2>
        <div id="container">
            <table id="countriesTable" class="table table-striped">
                <h3 id="text"></h3>
                <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a id="previous" class="page-link" href="#" tabindex="-1" aria-disabled="false" onclick="nextCourses('previous')" data-page="0">Previous</a>
                    </li>
                    <li class="page-item">
                        <a id="next" class="page-link" href="#" tabindex="3" aria-disabled="false" onclick="nextCourses('next')" data-page="1">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>
</html>
